* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    overflow: hidden;
}


body #big-container {
    display: grid;
    grid-template-areas:
        "header header"
        "aside  main";
    grid-template-columns: 260px 1fr;
    grid-template-rows: auto 1fr;

    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 15px;

    background-color: var(--bg-soft);
    border: 2px solid var(--border);
    border-radius: var(--radius-sm);
}

body #big-container header {
    position: sticky;
    grid-area: header;
}

body #big-container aside {
    grid-area: aside;
    background-color: white;
    box-shadow: var(--shadow);
    overflow-y: auto;
}

body #big-container aside::-webkit-scrollbar {
    display: none;
}

body #big-container main {
    grid-area: main;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

@media (max-width: 480px) {
    body #big-container {
        grid-template-areas:
            "header"
            "main";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
    }

    body #big-container aside {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;
        width: 260px;

        transform: translateX(-100%);
        transition: transform 0.3s ease;
        background-color: white;
        z-index: 15;
    }

    body #big-container aside.visible {
        transform: translateX(0);
    }
}