body #big-container main .pokemon-container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-inline: 5px;
    padding-block: 15px;
}

body #big-container main .pokemon-container .pokemon-card {
    width: 250px;
    aspect-ratio: 1/1;
    padding: 10px;
    box-shadow: var(--shadow);
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

body #big-container main .pokemon-container .pokemon-card img {
  width: 120px;
  height: auto;
}

body #big-container main .pokemon-container .pokemon-card .pokemon-types {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 8px;
}

body #big-container main .pokemon-container .pokemon-card .pokemon-types  .type {
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: bold;
  background: var(--bg);
  box-shadow: var(--shadow);
}
